	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/01/2020 06:11
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-shield:before { content: "\f100"; }
.flaticon-quote:before { content: "\f101"; }
.flaticon-door:before { content: "\f102"; }
.flaticon-mails:before { content: "\f103"; }
.flaticon-phone:before { content: "\f104"; }
.flaticon-projection-screen:before { content: "\f105"; }
.flaticon-website:before { content: "\f106"; }
.flaticon-save-money:before { content: "\f107"; }
.flaticon-ssl:before { content: "\f108"; }
.flaticon-stack-of-coins:before { content: "\f109"; }
.flaticon-user:before { content: "\f10a"; }
.flaticon-apple:before { content: "\f10b"; }
.flaticon-ui-1:before { content: "\f10c"; }
.flaticon-tools-and-utensils:before { content: "\f10d"; }
.flaticon-business-and-finance:before { content: "\f10e"; }
.flaticon-click:before { content: "\f10f"; }
.flaticon-click-1:before { content: "\f110"; }
.flaticon-prediction:before { content: "\f111"; }
.flaticon-play:before { content: "\f112"; }
.flaticon-play-button:before { content: "\f113"; }
.flaticon-google-maps:before { content: "\f114"; }
.flaticon-add-photo:before { content: "\f115"; }
.flaticon-typography:before { content: "\f116"; }
.flaticon-shopping-basket:before { content: "\f117"; }
.flaticon-commerce-and-shopping:before { content: "\f118"; }
.flaticon-box:before { content: "\f119"; }
.flaticon-height:before { content: "\f11a"; }
.flaticon-order:before { content: "\f11b"; }
.flaticon-tshirt:before { content: "\f11c"; }
.flaticon-food-and-restaurant:before { content: "\f11d"; }
.flaticon-commerce-and-shopping-1:before { content: "\f11e"; }
.flaticon-3d-design:before { content: "\f11f"; }
.flaticon-world:before { content: "\f120"; }
.flaticon-support:before { content: "\f121"; }
.flaticon-shipping-and-delivery:before { content: "\f122"; }
.flaticon-free-shipping:before { content: "\f123"; }
.flaticon-vr-glass:before { content: "\f124"; }
.flaticon-add:before { content: "\f125"; }
.flaticon-quote-1:before { content: "\f126"; }
.flaticon-bin:before { content: "\f127"; }
.flaticon-facebook-1:before { content: "\f128"; }
.flaticon-twitter:before { content: "\f129"; }
.flaticon-google-play:before { content: "\f12a"; }